form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #f8f8f8;
}

h1 {
    text-align: center;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.error {
    color: red;
}


@media (max-width: 600px) {
    form {
        width: 90%;
        margin: 0 auto;
    }

    input,
    textarea {
        width: 100%;
    }
}

@media (min-width: 601px) {
    form {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    form {
        width: 50%;
    }
}
